body{
    font-size: 28px;
    padding: 10px;
}

.navbar{
    position: sticky;  
    top:0;
    width: 100%;
    background-color: white;
}

.topLogo{
    max-width: 400px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

li {
    float: left;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    max-width: 400px;
  }

  li a:hover {
    background-color: #182b49;
    color: white;
  }

.section1, .section3{
    display: inline-block;
    background-color: rgb(245, 230, 230);
    padding: 20px;
}

.section2{
    display: inline-block;
    color: white;
    background-image: url(bg.jpg);
    padding: 20px;
}

.section4{
    color: white;
    background-image: url(bg.jpg);
    padding: 20px;
}

  .row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 25px;
    padding: 10px;
}

.row > div{
    background-color: #182b49;
    text-align: left;
    padding: 10px 10px;
    float: left;
    color: white;
    max-height: 500px;
    overflow: scroll;
}
  
  @media screen and (max-width: 800px) {
    ul{
        display: none;
    }

    .topLogo{
        max-width: 75%;
    }
    .sectionH{
        font-size: 24px;
    }
    .section1, .section2, .section3{
        font-size: 20px;
    } 

    .row{
        grid-template-columns: auto auto;
    }

    img{
        max-width: 100%;
    }
  }
